<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Registros SIG
    </ion-title>


  </ion-toolbar>
</ion-header>

  <ion-button fill="outline" color="primary" routerLink="/registrosig1">
    REGISTRO 1
  </ion-button>

  <ion-button fill="outline" color="primary" routerLink="/registrosig2">
    REGISTRO 2
  </ion-button>

  <ion-button fill="outline" color="primary" routerLink="/registrosig3">
    REGISTRO 3
  </ion-button>

  <ion-button fill="outline" color="primary" routerLink="/registrosig4">
    REGISTRO 4
  </ion-button>

  <ion-button fill="outline" color="primary" routerLink="/registrosig5">
    REGISTRO 5
  </ion-button>

  <ion-button fill="outline" color="primary" routerLink="/registrosig6">
    REGISTRO 6
  </ion-button>

  <ion-button fill="outline" color="primary" routerLink="/registrosig7">
    REGISTRO 7
  </ion-button>
 
  <ion-button (click)="pdfDownload()" fill="outline" color="primary">
    REGISTRO 8
  </ion-button>
  <ion-button (click)="pdfDownload()" fill="outline" color="primary">
    REGISTRO 9
  </ion-button>

