<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <h1>Iniciar Sesión</h1>
    <img src="assets/logo1.png" />
  </div>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating" >Email</ion-label> 
      <ion-input  type="text" #email required></ion-input>
  </ion-item>
  
    <ion-item lines="full">
      <ion-label position="floating" >Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a routerLink="/forgot-password">Olvidaste tu contraseña? </a>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" routerLink="/register" expand="block"
          >Crear una Cuenta
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>
