<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Ingresar</ion-button>
    </ion-buttons>
    <ion-title>Verificacion  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <h2>Gracias por Registarte!</h2>
      <p> Hemos enviado un correo electrónico de confirmación a 
        <strong>{{user.email}}</strong></p>
      <p>Revise su correo electrónico y haga clic en el enlace para verificar su dirección de correo electrónico. 
        .</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="onSendEmail()"
        >Resend verification email</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
