
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="user$ | async as user">
    <h1><center>Bienvenido <strong>{{user.email}}</strong> Elige Tu Área de Trabajo</center> </h1>
    <div id="header">
    <img src="assets/logo1.png" />
    </div>

  <form id="form">
 
    <ion-button  expand="block" shape="round" >Area de Operaciones</ion-button>
    <ion-button  expand="block" shape="round"routerLink="/mainsig">Area SIG</ion-button>

  </form>
</ion-content>