<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>CHECK LIST DE INSPECCIÓN DE ESCALERAS</ion-title>
  </ion-toolbar>
</ion-header>


  <!-- Sizes -->
  <ion-content>
<form (ngSubmit)="pdfDownload()" [formGroup]="myForm">
  <ion-item>
    <ion-label 
    position="floating"><strong>Trabajo o actividad:</strong></ion-label>
    <ion-input formControlName="TA"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label><strong>Centro:</strong></ion-label>
    <ion-input formControlName="ce"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"><strong>Responsable de la Inspección:</strong></ion-label>
    <ion-input formControlName="RI"></ion-input>
  </ion-item>

    <!-- Fecha  -->

<ion-item>
  <ion-label><strong>Fecha:</strong></ion-label>
  <ion-datetime value="1995-04-15" min="2000" max="2021"
    [dayShortNames]="customDayShortNames"
    displayFormat="MMM DD, YYYY"
    monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dic" formControlName="fecha"></ion-datetime>
</ion-item>

<ion-item>
  <ion-label><strong>Hora:</strong></ion-label>
  <ion-datetime formControlName="hora" displayFormat="HH:mm"></ion-datetime>
</ion-item>

    <!-- Tipo de Escalera  -->

  <ion-item >
    <ion-label ><strong>Tipo de Escalera:</strong></ion-label>
    <ion-select formControlName="te" placeholder="Seleccionar">
      <ion-select-option value="Escalera tijera simple">Escalera tijera simple</ion-select-option>
      <ion-select-option value="Escalera banqueta">Escalera banqueta</ion-select-option>
      <ion-select-option value="Escalera telescópica" >Escalera telescópica</ion-select-option>
      <ion-select-option value="Otros">Otros</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label><strong>Codigo de Escalera:</strong></ion-label>
    <ion-input formControlName="codigo"></ion-input>
  </ion-item>


   <!-- CHECK BOX  1  -->

   <ion-item>
    <ion-label><strong>Base superior o plataforma en buen estado:</strong></ion-label>
    <ion-select formControlName="bs" placeholder="Seleccionar ">
      <ion-select-option value="Bueno">Bueno</ion-select-option>
      <ion-select-option value="Regular">Regular</ion-select-option>
      <ion-select-option value="Malo">Malo</ion-select-option>
      <ion-select-option value="N/A">N/A</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Observaciones:</ion-label>
    <ion-textarea formControlName="o1" clearOnEdit="true"></ion-textarea>
  </ion-item>

    <!-- CHECK BOX  2  -->

    <ion-item>
      <ion-label><strong>Peldaños (antideslizantes, no torcidos y en buen estado):</strong></ion-label>
      <ion-select formControlName="pl" placeholder="Seleccionar ">
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Regular">Regular</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Observaciones:</ion-label>
      <ion-textarea formControlName="o2" clearOnEdit="true"></ion-textarea>
    </ion-item>

     <!-- CHECK BOX  3  -->

     <ion-item>
      <ion-label><strong>Tirantes de acero en buen estado:</strong></ion-label>
      <ion-select formControlName="tia" placeholder="Seleccionar ">
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Regular">Regular</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Observaciones:</ion-label>
      <ion-textarea formControlName="o3" clearOnEdit="true"></ion-textarea>
    </ion-item>

     <!-- CHECK BOX  3  -->

     <ion-item>
      <ion-label><strong>Riel anterior en buen estado:</strong></ion-label>
      <ion-select formControlName="riel" placeholder="Seleccionar ">
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Regular">Regular</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Observaciones:</ion-label>
      <ion-textarea formControlName="o4" clearOnEdit="true"></ion-textarea>
    </ion-item>


    <!-- CHECK BOX  4  -->

    <ion-item>
      <ion-label><strong>Riel posterior en buen estado:</strong></ion-label>
      <ion-select formControlName="rielp" placeholder="Seleccionar ">
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Regular">Regular</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Observaciones:</ion-label>
      <ion-textarea formControlName="o5" clearOnEdit="true"></ion-textarea>
    </ion-item>

      <!-- CHECK BOX  5  -->

      <ion-item>
        <ion-label><strong>Los refuerzos se encuentran en buen estado y no presenta algún daño:</strong></ion-label>
        <ion-select formControlName="ref" placeholder="Seleccionar ">
          <ion-select-option value="Bueno">Bueno</ion-select-option>
          <ion-select-option value="Regular">Regular</ion-select-option>
          <ion-select-option value="Malo">Malo</ion-select-option>
          <ion-select-option value="N/A">N/A</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Observaciones:</ion-label>
        <ion-textarea formControlName="ob" clearOnEdit="true"></ion-textarea>
      </ion-item>

      <!-- CHECK BOX  6  -->

      <ion-item>
        <ion-label><strong>Zapatas antideslizante:</strong></ion-label>
        <ion-select formControlName="zapa" placeholder="Seleccionar ">
          <ion-select-option value="Bueno">Bueno</ion-select-option>
          <ion-select-option value="Regular">Regular</ion-select-option>
          <ion-select-option value="Malo">Malo</ion-select-option>
          <ion-select-option value="N/A">N/A</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Observaciones:</ion-label>
        <ion-textarea formControlName="o6" clearOnEdit="true"></ion-textarea>
      </ion-item>

      <!-- CHECK BOX  7  -->

      <ion-item>
        <ion-label><strong>Sistema de polea y cuerda:</strong></ion-label>
        <ion-select formControlName="spo" placeholder="Seleccionar ">
          <ion-select-option value="Bueno">Bueno</ion-select-option>
          <ion-select-option value="Regular">Regular</ion-select-option>
          <ion-select-option value="Malo">Malo</ion-select-option>
          <ion-select-option value="N/A">N/A</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Observaciones:</ion-label>
        <ion-textarea formControlName="o7"clearOnEdit="true"></ion-textarea>
      </ion-item>

      <!-- CHECK BOX  8  -->

      <ion-item>
        <ion-label><strong>Aseo de escaleras (libre de sustancias deslizantes):</strong></ion-label>
        <ion-select formControlName="aseo" placeholder="Seleccionar ">
          <ion-select-option value="Bueno">Bueno</ion-select-option>
          <ion-select-option value="Regular">Regular</ion-select-option>
          <ion-select-option value="Malo">Malo</ion-select-option>
          <ion-select-option value="N/A">N/A</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Observaciones:</ion-label>
        <ion-textarea formControlName="o8" clearOnEdit="true"></ion-textarea>
      </ion-item>

      <!-- CHECK BOX  9 -->

      <ion-item>
        <ion-label><strong>Peldaños en forma "D" antideslizante:</strong></ion-label>
        <ion-select formControlName="peld" placeholder="Seleccionar ">
          <ion-select-option value="Bueno">Bueno</ion-select-option>
          <ion-select-option value="Regular">Regular</ion-select-option>
          <ion-select-option value="Malo">Malo</ion-select-option>
          <ion-select-option value="N/A">N/A</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Observaciones:</ion-label>
        <ion-textarea formControlName="o9" clearOnEdit="true"></ion-textarea>
      </ion-item>

      
      <!-- CHECK BOX  10 -->

      <ion-item>
        <ion-label><strong>Ganchos trabapeldaños:</strong></ion-label>
        <ion-select formControlName="ganchos" placeholder="Seleccionar ">
          <ion-select-option value="Bueno">Bueno</ion-select-option>
          <ion-select-option value="Regular">Regular</ion-select-option>
          <ion-select-option value="Malo">Malo</ion-select-option>
          <ion-select-option value="N/A">N/A</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Observaciones:</ion-label>
        <ion-textarea formControlName="o10"clearOnEdit="true"></ion-textarea>
      </ion-item>

      
      <!-- CHECK BOX  11 -->

      <ion-item>
        <ion-label><strong>Otros:</strong></ion-label>
        <ion-select formControlName="otros" placeholder="Seleccionar ">
          <ion-select-option value="Bueno">Bueno</ion-select-option>
          <ion-select-option value="Regular">Regular</ion-select-option>
          <ion-select-option value="Malo">Malo</ion-select-option>
          <ion-select-option value="N/A">N/A</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Observaciones:</ion-label>
        <ion-textarea formControlName="o11" clearOnEdit="true"></ion-textarea>
      </ion-item>

      <!-- CHECK BOX  12 -->

      <ion-item>
        <ion-label><strong>Escalera apta para ser usada:</strong></ion-label>
        <ion-select formControlName="apta" placeholder="Seleccionar ">
          <ion-select-option value="si">Si</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
          </ion-select>
        </ion-item>

      <!-- DATOS DEL SUPERVISOR -->

        <ion-item>
          <ion-label 
          position="floating"><strong>Nombres del Supervisor:</strong></ion-label>
          <ion-input formControlName="nam" ></ion-input>
        </ion-item>

            <!-- DATOS DEL SUPERVISOR -->
            
   <ion-label><strong>Firma</strong></ion-label>
    <signature-pad  [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
    <ion-button  (click)="drawComplete()">
      Grabar
  </ion-button>
    <ion-button color="danger" (click)="clear()">
        Limpiar
    </ion-button>
   
  <div> <img src="signatureImage" *ngIf="signatureImage"></div>
  
  </form>

<ion-button (click)="pdfDownload()" fill="outline" color="primary">
Descargar PDF</ion-button>

</ion-content>

